.utility-stories-str {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 10px;
}
.utility-stories-str-thumb {
	width: 75px;
	padding-right: 7px;
	box-sizing: border-box;
	align-self: flex-start;
	padding-top: 5px;
}
.utility-stories-str-thumb img {
	width: 100%;
	display: block;
	min-height: 34px;
}
.utility-stories-str-desc.with-image {
	width: calc(100% - 75px);
	font-weight: 400;
	line-height: 1.5;
	font-size: 13px;
}
.utility-stories-str-desc a {
	font-weight: 500;
	color: #0073aa;
	text-decoration: none;
	padding-bottom: 5px;
	display: inline-block;
}
.utility-stories-str:last-child {
	margin-bottom: 0;
}
.utility-stories-str-desc span {
display: block;
}
.utility-bullet-wall {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: black;
	display: inline-block;
	margin: 0 5px;
}
.utility-dashboard-widget-block {
	width: 100%;
}
.utility-dashboard-widget-block .utility-title-bar a{
	color: #23282d;
	font-weight: 400;
	font-size: 12px;
}
.utility-dashboard-widget-block .utility-title-bar {
	display: table;
	width: 100%;
	-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
	margin: 0 -12px 8px;
	padding: 0 12px 12px;
}
.utility-dashboard-widget-block .utility-footer-bar {
	border-top: 1px solid #eee;
	padding-top: 1rem;
}
.utility-dashboard-widget-block .utility-footer-bar a {
	padding: 0 5px;
}
.utility-dashboard-widget-block a {
	text-decoration: none;
	font-size: 14px;
	color: #007cba;
	font-weight: 600;
}
.utility-stories-str .utility-banner {
	width: 100%;
}
.utility-dashboard-widget-block .dashicons {
	vertical-align: middle;
	font-size: 17px;
}